.login-head{
    font-size: 24px;
    font-weight: bold;
    color: #00e600;
    margin-bottom: 30px;
}

.login-btn{
    margin-top: 18px;
}

.input-style{
    border-radius: 30px;
}

ion-item {
    --border-radius: 30px;
    --highlight-color-focused: none; 
    --highlight-color-valid: none;
}

ion-content.background{
    --background: url('../../assets/backgrounds/login.png') 0 0/100% 100% no-repeat;
}