<ion-content style="overflow: scroll" class="background">
  <div style="height: 7%"></div>
  <ion-grid>  
    <ion-row class="ion-justify-content-center"> 
        <img src="assets/icon/logo.png" width="170px">
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-item class="input-style" style="margin-bottom: 10px">
        <ion-input type="test" placeholder="Enter verification code" [(ngModel)]="user.verification_code"></ion-input>
      </ion-item>

      <ion-item class="input-style" style="margin-bottom: 10px">
        <ion-input type="password" placeholder="Enter new password" [(ngModel)]="user.password"></ion-input>
      </ion-item>

      <ion-item class="input-style" style="margin-bottom: 10px">
        <ion-input type="password" placeholder="Confirm new password" [(ngModel)]="user.confirm_password"></ion-input>
      </ion-item>
    </ion-row>
    
    <ion-row class="ion-justify-content-center login-btn">
      <ion-button style="width: 70%" expand="block" color="success" shape="round" (click) ="resetPassword(user)">Reset Password</ion-button>
    </ion-row>

  </ion-grid>
</ion-content>