<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Setting
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-checkbox color="success" checked slot="start"></ion-checkbox>
      <ion-label class="textStyle">Receive Special Offers</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-checkbox color="success" checked slot="start"></ion-checkbox>        
      <ion-label class="textStyle">Get updates on your orders status</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
