<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Invite Friends
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img src="assets/food/invite.jpg"  style="opacity: 0.7"/> 
    <ion-grid class="heading">
      <ion-row>
        <ion-text>SHARE IT TO YOUR FRIENDS</ion-text>   
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="content text">
        <ion-label>Share the link</ion-label>   
      </ion-row>

      <ion-row class="content">
          <ion-item>
            <ion-input style="font-size: 20px;" value="https:\\www.google.com"></ion-input>
            <ion-icon class="icon-btn" slot="end" ios="ios-share" md="md-share"></ion-icon>
          </ion-item>
      </ion-row>
    </ion-grid>

</ion-content>
