.cartStyle{
    position: absolute; 
    z-index:9999; 
    margin-top: -15px; 
    margin-left: 17px;
}

.iconStyle{
    color: #39e600;
    font-size: 100px;
}

.gridStyle{
    text-align: center;
}

.referStyle{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 12px;
}